* { margin:0; padding:0;}
body,table {
	font-family:Lucida Grande, Geneva, Arial, Helvetica, sans-serif;
	color:#ffffff;
	font-size:x-small; /* For IntEx */
	voice-family: "\"}\"";
	voice-family:inherit;
	font-size:small;
	}
	html>body {
		font-size:small;
		}
		
/* Layout structure */
#header {
	border-bottom:3px solid #87b825;
	/*background: #b4e637 url(images/header-bg.gif) repeat-x top left;*/
	background: #47BCD5 url(images/header-bg.gif) repeat-x top left;
	}
	
#header h1 {
	margin:0;
	padding:25px;
	font-family:Georgia, serif;
	font-size:180%;
	font-weight:bold;
	color:#333333;
	/*background: url(images/logo.gif) no-repeat top right;*/
	}
#header a {
	color:#000;
	text-decoration:none;
	}

#message {
	margin:0;
	padding:5px;
	font-size:90%;
	color:#cc9;
	text-align:center;
	background:#404530 url(images/message-bg.gif) repeat-x top;
	}
	
#message a:link, #message a:visited {
	color:#cc9;
	text-decoration:none;
	}

#wrap {
		min-width:500px;
		max-width:1400px;
		background:url(images/wrap-bg.gif) repeat-y 70% 0;
		}

#content {
	float:left;
	width:70%;
	font-size:95%;
	line-height:1.5em;
	color:#333;
	}
	
#content .gutter {
	padding:5px;
	}
	
#content ul {
list-style:square;
margin-left:10px;
	} 

#content ul li {
	margin-left:12px;
	margin-bottom:10px;
	
	}

#content h2 {
	margin:0 0 1em 0;
	padding:0;
	font-family:georgia,serif;
	font-size:150%;
	font-weight:normal;
	color: #663;
	}
	
/* Feature Block */

dl.feature {
	margin:15px 0;
	padding:5px;
/*	border-top:1px dotted #ccc;
	border-bottom:1px dotted #ccc; */
	}
dl.feature after {
	content: ".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}
dl.feature dt {
	margin:0 0 .5em 0;
	font-family:georgia, serif;
	font-size:140%;
	color:#693;
	}
dl.feature dt img {
	float:left;
	margin:0 15px 0 0;
	padding:0 4px 4px 0;
	background:url(images/photo-frame.gif) no-repeat bottom right;
	}
dl.feature dd {
	/*margin-left:169px;*/
	font-size:90%;
	line-height:1.5em;
	color:#666;
	}
	
dl.feature .lineup h2 {
	margin-top:15px;
	}
/* Sidebar block */

#sidebar {
	float:right;
	width:30%;
	}

.box {
	margin:0 0 20px 0;
	padding:0 0 12px 0;
	font-size:85%;
	line-height:1.5em;
	color:#666;
	background:#fff;
	background: #fff url(images/box-b.gif) no-repeat bottom right;
	}
.box h3 {
	margin:0;
	padding:12px;
	font-family:georgia,serif;
	font-size:140%;
	font-weight:normal;
	color:#693;
	background:url(images/box-t.gif) no-repeat top left;
	}
.box p, .box ul {
	margin:0;
	padding:0 12px;
	}
	
.box ul li {
	margin:0 0 0 12px;
	padding:0 0 0 18px;
	list-style:none;
	background: url(images/li-bullet.gif) no-repeat 0 3px;
	}

#sidebar .gutter {
	padding:15px;
	}

#footer {
	clear:both;
	background:#828377 url(images/footer-bg.gif) repeat-x top left;
	}

#footer p {
	margin:0;
	padding:15px;
	font-size:85%;
	color:#CCCCCC;
	}

/* IEProofing starts here */
/* Hide from IEMac */
* html #footer { height:1%; }
/* End hide from IEMac */
/* Hide from IEMac */
dl.feature { display:block; }
/* End hide from IEMac */